<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Welcome To Main Page</h1>

  <ul>
    <%  for (let i = 0; i < phones.length; i++) { %>
    <li>
      <%= phones[i].name %> </br>
      <%= phones[i].company %> </br>
      <%= phones[i].fourG %> </br>
      <form action="/phones/<%=phones[i].id%>?_method=DELETE" method="POST">
        <input type="submit" value='Delete'>
      </form>
        <form action="/phones/<%=phones[i].id%>" method="get">
          <input type='submit' value='View Phone'>
      </form>

          <form action="/phones/<%=phones[i].id%>/edit" method="POST">
            <input type="submit" name="" value="Edit Phone">
      </form>
    </li>
    <%} %>
  </ul>
</body>

</html>
